.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/*.map
**/*.ts
.git/**
node_modules/**
out/test/**
test/**
tsconfig.json
.eslintrc.json
images/**
snippets/
!snippets/*.json
!images/icon_min.png